body {
    margin: auto;
    background: rgba(38, 75, 29, 0.513);
}

nav {
    
}

div {
    background: rgba(38, 75, 29, 0.513);
}

.background {
    background: rgba(38, 75, 29, 0.513);
}

h1 {
    
}

table {
    border-color: black;
}



