{% extends "layout.html" %}
{% block title %}ADMIN{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h2>Hallinnoi tilejä</h2>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>Käyttäjä</th>
                    <th>id</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.id }}</td>
                    <td><form action="deleteuser/{{user.id}}" method="POST"><input type="submit" value="Poista"></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <div class="col-sm-3"></div>
</div>

{% endblock %}