{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
{% if session.username %}
<h2 class="text-center">Welcome {{ session.username }}</h2>
<div class="row">
    <div class="col-5 text-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Omat reseptit:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <td><a class="text-white" href="/recipe/{{recipe[0]}}">{{ recipe[1] }}</a></td>
                    <td><div><form action="/delete/{{recipe[0]}}" method="POST" >
                        <input type="submit" value="poista"></form>
                        </div> 
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="col-5">
        <p>Tallennetut reseptit:</p>
    </div>
</div>




<p>Lisää resepti</p>
<form action="/addrecipe" method="POST">
    Kuvaus: <input type="text" name="title">
    <br>
    Ohje:
    <br>
    <textarea rows="8" cols="30" name="instructions"></textarea>

    <br>
    <input type="submit" value="Tallenna">
</form>
{% endif %}
{% endblock %}