<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/main.css?version=7">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>VegeFriends - {% block title %}{% endblock %} </title>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-sm">
            <a href="/"class="navbar-brand text-white">VegeFriends</a>
            {% if session.username %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/homepage" class="nav-link text-white">Oma sivu</a>
                </li>
                <li class="nav-item">
                    <a href="/recipes?search=all" class="nav-link text-white">Hae reseptejä</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link text-white">Kirjaudu ulos</a>
                </li>
            </ul>
            
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link text-white">Kirjaudu sisään</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link text-white">Luo uusi tunnus</a> 
                </li>
                {% if session.user_role == 1%}
                <li class="nav-item">
                    <a href="/admin" class="nav-link text-white">Admin</a>
                </li>
            
                {% endif %}
            </ul>
            
            {% endif %}
            
        </nav>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">VegeFriends</h1>
        </div>
        
    </div>
    
   
    
    {% block content %}{% endblock %}
    
   
</div>

