{% extends "layout.html" %}
{% block title %}Reseptisivu {% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Ruoka:</th>
            <th>Luonut:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ recipe[1] }}</td>
            <td> {{ recipe[3] }}</td>
        </tr>
    </tbody>
</table>
<h4>Ohjeet:</h4>
<p>{{ recipe.instructions }} </p>
{% if session.user_id != recipe[4]%}
<hr>
<h4>Anna palautetta:</h4>
<form action="/feedback/{{recipe[0]}}" method="POST" >
    <p>Vaikeustaso:</p>
    <input type="radio" value="1" id=skill_level name="skill_level">
    <label for="1">1</label>
    <input type="radio" value="2" name="skill_level">
    <label for="1">2</label>
    <input type="radio" value="3" name="skill_level">
    <label for="1">3</label>
    <input type="radio" value="4" name="skill_level">
    <label for="1">4</label>
    <input type="radio" value="5" name="skill_level">
    <label for="1">5</label>
    <br>
    <p>Kuinka hyvää ruoka oli?</p>
    <input type="radio" value="1" name="quality">
    <label for="1">1</label>
    <input type="radio" value="2" name="quality">
    <label for="1">2</label>
    <input type="radio" value="3" name="quality">
    <label for="1">3</label>
    <input type="radio" value="4" name="quality">
    <label for="1">4</label>
    <input type="radio" value="5" name="quality">
    <label for="1">5</label>
    <br>
    <p>Kommentoi:</p>
    <textarea rows="8" cols="30" name="comment"></textarea>
    <br>
    <input type="submit" id="btn" value="Lähetä">
</form>
{% endif %}
<hr>
<p>Käyttäjien antamat palautteet:</p>
{% if not feedback %}
<p>ei vielä palautteita</p>
{% else %}
<p>Keskimääräinen vaikeustaso:{{ feedback[0].skill_level }}</p>
<p>Käyttäjät pitivät ruuasta keskimäärin: {{ feedback[0].quality }}</p>
<p>Kommentit:</p>
<ul>
{% for fb in feedback %}
{% if fb.comment|length %}
    <li>{{ fb.comment }}</li> 
{% endif %}
{% endfor %}   
</ul>
{% endif %}

<script>

    const btn = document.querySelector('#btn');
    btn.onclick = function () {
        const skills = document.querySelectorAll('input[name="skill_level"]');
        const qualitys = document.querySelectorAll('input[name="quality"]');
        let selectedValue_skill;
        let sel_qual;
        for (const skill of skills) {
            if (skill.checked) {
                selectedValue_skill = skill.value;
                
            }
        }
        if (selectedValue_skill == null) {
            alert("valitse vaikeustaso")
            return false;
        }
       
        for (const quality of qualitys) {
            if (quality.checked) {
                sel_qual = quality.value;
                
            }
        }
        if (sel_qual == null) {
            alert("Valitse laatu")
            return false;
        }
        
        return true;
    } 
    
    
</script>

{% endblock %} 


