{% extends "layout.html" %}
{% block title %}Reseptisivu {% endblock %}
{% block content %}
{% if session.username %}
<div class="container-sm">
    <div class="row mt-3">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h3>{{ recipe[1] }}</h3>
        </div>
        <div class="col-sm-3">
           
            {% if likes %}
            <form action="/dislike/{{recipe[0]}}" method="POST">
                <button type="submit" class="btn"><span class="fa fa-heart"></span></button>
                <label>{{countLikes}}</label>
            </form>
            {% else %}
            <form action="/like/{{recipe[0]}}" method="POST">
                <button type="submit" class="btn"><span class="fa fa-heart-o"></span></button>
                <label>{{countLikes}}</label>
            </form>
            {% endif %}
                
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h5>Luonut: {{ recipe[3] }}</h5>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
            <h4>Ohjeet:</h4>
            <p>
            {% for line in recipe[2].splitlines() %}
            {{line}}<br>
            {% endfor %}
            </p>
        </div>
        <div class="col-sm-4">
            {% if has_image %}
            <img src="/image/{{recipe[0]}}" class="img-fluid">
            {% else %}
            <img src="/static/frontpage.jpg" class="img-fluid">
            {% endif %}
            <br>
            <br>
            {% if session.user_id == recipe[4] %}
            
            <form action="/send_image/{{recipe[0]}}" method="POST" enctype="multipart/form-data">
                
                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="fileInput" aria-describedby="fileInputAddon">
                    <label class="custom-file-label" for="fileInput" data-browse="Etsi...">Valitse tiedosto</label>
                </div>
                
                
                
                <button type="submit" value="Valitse" class="btn btn-sm btn-secondary">Valitse</button>
            </form>
            {% endif %}
        </div>
    </div>
    
    <hr>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
            {% if session.user_id != recipe[4]%}
            <h4>Anna palautetta:</h4>
            <form action="/feedback/{{recipe[0]}}" method="POST" >
                <p>Vaikeustaso:</p>
                <input type="radio" value="1" id=skill_level name="skill_level">
                <label for="1">1</label>
                <input type="radio" value="2" name="skill_level">
                <label for="1">2</label>
                <input type="radio" value="3" name="skill_level">
                <label for="1">3</label>
                <input type="radio" value="4" name="skill_level">
                <label for="1">4</label>
                <input type="radio" value="5" name="skill_level">
                <label for="1">5</label>
                <br>
                <p>Kuinka hyvää ruoka oli?</p>
                <input type="radio" value="1" name="quality">
                <label for="1">1</label>
                <input type="radio" value="2" name="quality">
                <label for="1">2</label>
                <input type="radio" value="3" name="quality">
                <label for="1">3</label>
                <input type="radio" value="4" name="quality">
                <label for="1">4</label>
                <input type="radio" value="5" name="quality">
                <label for="1">5</label>
                <br>
                <p>Kommentoi:</p>
                <textarea rows="8" cols="30" name="comment"></textarea>
                <br>
                <input type="submit" id="btn" value="Lähetä">
            </form>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <h5>Käyttäjien antamat palautteet:</h5>
            {% if not feedback %}
            <p>ei vielä palautteita</p>
            {% else %}
            <p>Keskimääräinen vaikeustaso:{{ feedback[0].skill_level }}</p>
            <p>Käyttäjät pitivät ruuasta keskimäärin: {{ feedback[0].quality }}</p>
            <p>Kommentit:</p>
            <table>
                <thead>
                    <tr>
                        <th>Kommentit</th>
                        <th>Käyttäjältä:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fb in feedback %}
                    {% if not fb.comment == none %} 
                    <tr>
                        <td>{{ fb.comment }} </td>
                        <td>{{ fb.written_by }}</td>
                    </tr>
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        
    </div>
</div>


<hr>

{% endif %}

<script>

    const btn = document.querySelector('#btn');
    btn.onclick = function () {
        const skills = document.querySelectorAll('input[name="skill_level"]');
        const qualitys = document.querySelectorAll('input[name="quality"]');
        let selectedValue_skill;
        let sel_qual;
        for (const skill of skills) {
            if (skill.checked) {
                selectedValue_skill = skill.value;
                
            }
        }
        if (selectedValue_skill == null) {
            alert("valitse vaikeustaso")
            return false;
        }
       
        for (const quality of qualitys) {
            if (quality.checked) {
                sel_qual = quality.value;
                
            }
        }
        if (sel_qual == null) {
            alert("Valitse laatu")
            return false;
        }
        
        return true;
    } 
    
</script>
<script>
    $('#fileInput').on('change',function(){
        //get the file name
        var fileName = $(this).val();
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })
</script>
{% endif %}
{% endblock %} 


