{% extends "layout.html" %}
{% block title %} Sign up {% endblock %}
{% block content %}
<h2 class="text-center">Luo uusi tunnus</h2>
<div class="container-sm">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form class="m-2" action="/newuser" method="POST" onsubmit="return check(this)">
            Tunnus:<input class= "form-control" type="text" name="username" placeholder="Käyttäjätunnus">
            <p>
            Salasana: <input class="form-control" type="password" name="password" placeholder="Salasana">
            <p>
            <button class="btn btn-primary" type="submit" value="Luo tunnus">Luo tunnus</button>
            </form>
    </div>

</div>


<script>
    
    function check(form) {
        var username = form.username.value;
        username = username.trim();
        var password = form.password.value;
        password = password.trim();
        if (username.length < 4 || username.length > 20) {
            alert("Käyttäjänimen pitää olla vähintään 4 ja enintään 20 merkkiä pitkä");
            return false;
        }
        if (password.length < 6 || password.length > 20) {
            alert("Salasanan pitää olla vähintään 6 ja enintään 20 merkkiä pitkä");
            return false;
        }
        return true;
    }
</script>

{% endblock %}

